.cart-img {
  height: 20rem;
  width: 30rem;
  margin-top: 3rem;
  margin-left: 2rem;
}
.div-cart {
  background-color: white;
  height: 20rem;
  width: 35rem;
  margin-left: 32rem;
  margin-top: -20rem;
}

.cart-text {
  padding-top: 5rem;
  font-size: xx-large;
  font-weight: 700;
}

.shop-text {
  color: rgb(58, 192, 244);
}

.sign-in {
  background-color: rgb(226, 226, 9);
  border-radius: 8px;
  font-size: larger;
  margin-top: 1rem;
}

.sign-up {
  margin-left: 1rem;
  border-radius: 8px;
  font-size: larger;
  margin-top: 1rem;
}

.text-lines {
  margin-top: 6rem;
  margin-left: 2rem;
  margin-bottom: -10rem;
}
