.caro {
  margin-top: 36rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: white;
}

.caro-img {
  height: 18rem;
  width: 15rem;
  margin-left: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.title-text {
  color: #cc0c39;
}

.off-text {
  background-color: #cc0c39;
  color: white;
  border-radius: 2px;
  margin-left: 1rem;
}

.redmi {
  margin-left: 1rem;
  color: black;
}

.deal-text {
  padding-left: 0.6rem;
}

.slider-1 {
  margin-left: 2rem;
}

.slider-2 {
  margin-left: 5rem;
  margin-top: -1.2rem;
  position: absolute;
}
.slider-3 {
  margin-left: 20rem;
}
.slider-4 {
  margin-left: 56rem;
}
.slider-5 {
  margin-left: 17rem;
}

.slider-products {
  display: flex;
  margin-top: 3rem;
}

.of-text {
  background-color: #cc0c39;
  color: white;
  border-radius: 3px;
}

.carousel-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 1rem;
  position: absolute;
}

.all-deal-text {
  margin-left: 13rem;
  color: #007185;
  margin-top: 1.6rem;
  position: absolute;
}

.deal-text {
  color: #cc0c39;
}

.info-text {
  margin-left: 2rem;
}

.of-text-2 {
  background-color: #cc0c39;
  color: white;
  border-radius: 3px;
}

.deal-text-2 {
  color: #cc0c39;
  margin-left: 0.3rem;
}

.of-text-3 {
  background-color: #cc0c39;
  color: white;
  border-radius: 3px;
  margin-left: 2rem;
  margin-top: -1rem;
  position: absolute;
}

.deal-text-3 {
  color: #cc0c39;
  margin-top: -1rem;
  position: absolute;
  margin-left: 8.2rem;
}

.info-text-3 {
  margin-left: 36rem;
  margin-top: -0.8rem;
  position: absolute;
}

.of-text-4 {
  background-color: #cc0c39;
  color: white;
  border-radius: 3px;
  margin-left: -3rem;
  margin-top: -2.5rem;
  position: absolute;
}

.deal-text-4 {
  color: #cc0c39;
  margin-top: -2.5rem;
  position: absolute;
  margin-left: 3.3rem;
}

.info-text-4 {
  margin-left: 53.1rem;
  margin-top: -2.4rem;
  position: absolute;
}

.of-text-5 {
  background-color: #cc0c39;
  color: white;
  border-radius: 3px;
  margin-left: 52.5rem;
  margin-top: -3.9rem;
  position: absolute;
}

.deal-text-5 {
  color: #cc0c39;
  margin-top: -3.8rem;
  position: absolute;
  margin-left: 59rem;
}

.info-text-5 {
  margin-left: 70.1rem;
  margin-top: -3.8rem;
  position: absolute;
}
