.furniture-carousel {
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: white;
}

.furniture-img {
  height: 18rem;
  width: 100%;
  margin-left: 0rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.slider-products {
  display: flex;
  margin-top: 3rem;
}

.all-deal-text-2 {
  position: absolute;
  color: #007185;
  margin-top: 1.5rem;
  margin-left: 61rem;
  cursor: pointer;
}

.all-deal-text-3 {
  position: absolute;
  color: #007185;
  margin-top: 1.5rem;
  margin-left: 38rem;
  cursor: pointer;
}
