.home-products {
  margin-top: 2rem;
  height: 22.5rem;
  width: 20rem;
  background-color: white;
  position: absolute;
  margin-left: 1.2rem;
  display: flex;
}

.home-products-2 {
  margin-top: 2rem;
  height: 22.5rem;
  width: 20rem;
  background-color: white;
  position: absolute;
  margin-left: 23rem;
  display: flex;
}

.home-products1a {
  margin-top: 2rem;
  height: 22.5rem;
  width: 20rem;
  background-color: white;
  position: absolute;
  margin-left: 66rem;
  display: flex;
}

.home-products-2a {
  margin-top: 2rem;
  height: 22.5rem;
  width: 20rem;
  background-color: white;
  position: absolute;
  margin-left: 44.5rem;
  display: flex;
}

.img {
  height: 15rem;
  cursor: pointer;
}
